<header>
  <div class="container">
    <nav>
      <a class="logo" href="./index.html"></a>
      <ul class="nav__menu">
        <li class="nav__item">
          <a href="" class="nav__link nav__link--curr">home</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">my library</a></li>
      </ul>
    </nav>
    <form id="form" class="form">
      <input
        type="text"
        class="form__input"
        placeholder="Movie search"
      /><button type="submit" class="form__btn"></button>
    </form>
    <p class="form__error is-hidden"></p>
    <!-- <h1>index-header</h1> -->
  </div>
</header>
